@import "partials/typography";
@import "partials/variables";
@import "partials/mixins";
@import "global.scss";

.about{
    display: flex;
    flex-direction: column;

    @include padding-x($spacing-small);
    @include padding-y($spacing-small);

    @include tablet{
        @include padding-x($spacing-medium);
        @include padding-y($spacing-medium);
    }

    &__article{
        @include tablet{
            @include padding-x($spacing-large);
        }

    }

    @include font-size($body-copy-font);
    &__image{
        width: 100%;
        margin-bottom: 1rem;
    }

    &__quote{

       @include font-size($subheader-font);

       &--vocalist{
        @include font-size($body-copy-font);
        display: inline-block;
        margin: 1rem 0;
       }
    }

    &__subheader{
        display: inline-block;
        @extend .headline
    }

    &__copydeck{
        margin: 0;
    }

    &__container{
        @include tablet{
            display: flex;
            gap: 2rem;
        }
    }
}

.gallery{

    @include padding-x($spacing-small);
    @include padding-y($spacing-small);

    @include tablet{
        @include padding-x($spacing-medium);
        @include padding-y($spacing-medium);
    }

    display: flex;
    flex-direction: column;
    background-color: $alabaster;
    
    &__collection{
        display: flex;
        flex-direction: column;
        gap:2rem;
        justify-content: center;
        align-items: center;
        width: 100%;

        @include tablet{
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__item{
        width:100%;
        @include tablet{
            width: 25%;
        }
    }
}