@use "partials/typography";
@use "partials/variables";
@use "partials/mixins";
@use "global.scss";

.comment, .about, .gallery{
    @include padding-x($spacing-small);
    @include padding-y($spacing-small);

    @include tablet{
        @include padding-x($spacing-medium);
        @include padding-y($spacing-medium);
    }

    @include desktop{
        @include padding-x($spacing-large)
      }
}

.about{
    display: flex;
    flex-direction: column;

    // @include padding-x($spacing-small);
    // @include padding-y($spacing-small);

    // @include tablet{
    //     @include padding-x($spacing-medium);
    //     @include padding-y($spacing-medium);
    // }

    // @include desktop{
    //     @include padding-x($spacing-large)
    //   }

    &__article{
        @include tablet{
            @include padding-x($spacing-large);
        }
    }

    @include font-size($body-copy-font);
    &__image{
        width: 100%;
        margin-bottom: 1rem;
    }

    &__quote{
        color: $primary-color;
       @include font-size($subheader-font);

        @include desktop{
            display: inline-block;
            width: 85%;
        }
        
       &--vocalist{
        @include font-size($subheader-font, -0.4rem);
        color: $primary-color;
        display: inline-block;
        margin: 1rem 0;
       }
    }

    &__subheader{
        display: inline-block;
        @extend .headline;
        @include font-size($subheader-font)
    }

    &__copydeck{
        margin: 0;
    }

    &__container{
        @include tablet{
            display: flex;
            gap: 2rem;
        }
    }
}

.gallery{
    display: flex;
    flex-direction: column;
    background-color: $alabaster;
    // @include padding-x($spacing-small);
    // @include padding-y($spacing-small);

    // @include tablet{
    //     @include padding-x($spacing-medium);
    //     @include padding-y($spacing-medium);
    // }

    // @include desktop{
    //     @include padding-x($spacing-large)
    //   }
    
    &__collection{
        display: flex;
        flex-direction: column;
        gap:2rem;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include tablet{
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__item{
        width:100%;
        @include tablet{
            width: 30%;
        }
    }
}

.comment{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__form{
        width: 100%;
        display: flex;
        flex-direction: row;
        // align-items: center;
        // justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        padding: 0.8rem;

        @include tablet{
           padding: 1rem;
        }
    }

    &__input {
        min-height: 2.5rem;
        width: 100%;
        padding: 1rem;
        border-radius: 4px;
        border: 1px solid $mercury;
        font-size: 1rem;
        // background-color: ;
        margin-top: 4px;

        @include tablet{
            min-height: 2rem;
        }

      }

      &__input:focus{
        outline: 1px solid #d22d2d;
      }

      &__form-item{
        flex-basis: auto;
      }
      &__form-list{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        gap: 1rem;
        height: 50vh;
      }

      &__avatar{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        align-self: flex-start;
        margin-top: 1.5rem;
        align-self: flex-start;
        flex-basis: 0;

      }
}


  